<<<<<<< HEAD
/* Import Darker Grotesque font weights you need */
=======

>>>>>>> master
@import '@fontsource/darker-grotesque/400.css';
@import '@fontsource/darker-grotesque/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* Set global font family for Tailwind's font-sans utility */
=======
>>>>>>> master
body {
  font-family: 'Darker Grotesque', sans-serif;
}